html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* nema skrolanja */
}

body {
  display: flex;
  justify-content: center;   /* horizontalno centriraj */
  align-items: center;       /* vertikalno centriraj */
  flex-direction: column;
  font-family: sans-serif;
  color: maroon;
  text-align: center;
  font-size: small;
  background-color: #f9dbcc;
}

/* Slika zauzima cijeli ekran, centrirana */
.bg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

/* Tekst preko slike */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}